.table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3rem;
  border-bottom: 1px solid darken($color-grey, 20);

  td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid darken($color-grey, 20);
  }

  .thead {
    font-weight: 600;
    vertical-align: bottom;

    td {
      color: $color-white;
      background-color: darken($color-secondary, 10);
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
    }
  }

  .tbody tr {
    & td:first-child {
      padding-left: 2rem;
    }

    & td:not(:first-child) {
      text-align: center;
    }
  }

  tr {
    width: 100%;
    transition: all 2ms;

    & .td-col-3,
    .td-col-4,
    .td-col-6 {
      @include respond(tablet-port) {
        display: none;
      }
    }

    & .td-col-3,
    .td-col-4,
    .td-col-5,
    .td-col-6 {
      @include respond(phone) {
        display: none;
      }
    }

    &:nth-of-type(odd) {
      background-color: lighten($color-grey, 20);
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-white;

      td:hover {
        background-color: darken($color-secondary, 10);
        font-weight: 600;
      }
    }
  }
}
